<%- include('./partials/head') %>
<body>
<%- include('./partials/header') %>
  <br>
  <div class="ranking-title">
    <h1> Copa TVHG - Fecha de incio: 07/06/2024 </h1> 
  </div>
  <section class="leaderboard-section" style="margin-bottom: 15px; padding: 10px;">
    <div class="tournament-details" style="display: flex; flex-direction: column;">
      <div class="container">
        <h2>Información de utilidad</h2>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-decoration: none;">
                 <h3 style="font-size: 25px; text-decoration: none; color: #ff914c;">Modalidad</h3>
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <p style="text-align: justify;">El presente torneo se compondrá de dos fases. La primera será de tipo grupos, siendo 4 de ellos, conformados por 4 jugadores cada uno. Los dos jugadores que obtengan más puntos en cada grupo avanzarán a la fase de eliminación directa.</p>
                <p style="text-align: justify;">Durante la fase de grupos, cada jugador se enfrentará al resto de los integrantes de su grupo en dos oportunidades, una en calidad de local y otra en calidad de visitante. Quien oficie en calidad de local eligirá el mapa, dentro del pool seleccionado por la COMISIÓN.</p>
                <p style="text-align: justify;">Si un jugador gana ambas partidas del duelo, obtendrá 3 puntos, si cada jugador gana una partida se repartirán un punto por jugador. No esta de más señalar que no recibirá punto alguno quien pierda ambas partidas. Finalmente, el jugador con ELO mas bajo eligirá si quiere ir de local o visitante en primera instancia</p>
                <p style="text-align: justify;">Los dos jugadores con mayor puntuación al finalizar los duelos de la zona de grupos avanzarán a la fase de eliminación directa. En caso de que dos jugadores tengán la misma cantidad de puntos, se jugará una partida adicional entre ellos en la mística isla de Socotra.</p>
                <p style="text-align: justify;">Durante la fase de eliminación directa, se realizará un nuevo sorteo entre los primeros y los segundos de cada grupo para determinar la composición de los duelos.</p>
                <p style="text-align: justify;">Estos duelos serán al mejor de tres (BO3), oficiando un jugador de local, oportunidad en la que podra pickear su mapa y luego de visitante, oportunidad en la que tendrá que someterse al mapa elegido por su riva. En caso de empate, en esta ocasión se definirá en el azaroso mapa de Megarandom.</p>
                <p style="text-align: justify;">En el acápipe siguiente se apreciará el pool de mapas y otros detalles de interés.</p>
                <p style="text-align: justify;">Una cosita más. En caso que la diferencia de ELOS sea mayor a 100, en jugador mas bajo podrá contar con la asistencia de un coach durante la partida</p>
                <p style="text-align: justify;">Adelante y suerte.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
                  <h3 style="font-size: 25px; text-decoration: none; color: #ff914c;">Detalles</h3>
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <span class="font-weight-light font-weight-bold text-decoration-underline">Nombre de la sala :</span> TVHG<br>
                <span class="font-weight-light font-weight-bold text-decoration-underline">Size :</span> Pequeñito (2 jugadores).<br>
                <span class="font-weight-light font-weight-bold text-decoration-underline">Civ Pick :</span> Si, superada la instancia de banneo.<br>
                <span class="font-weight-light font-weight-bold text-decoration-underline">¿Como? :</span> A través de <a href="https://www.aoe2cm.net/preset/VCrXy" target="_blank">AOE 2 CM</a><br>
                <span class="font-weight-light font-weight-bold text-decoration-underline">Pool de mapas:</span>
                <ul>
                  <li> Cerrados: Arena y Guaridas</li>
                  <li> Abiertos: Arabia y Atacama</li>
                  <li> Nomadas: Nomada de tierra y Claro africano</li>
                  <li> Mixtos: Continental y Mediterràneo</li>
                  <li> Extras: Lago fantasma y Fiebre del oro</li>
                </ul>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 600px">Grupo A</th>
                <th scope="col">PJ</th>
                <th scope="col">PG</th>
                <th scope="col">PP</th>
                <th scope="col">PTS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">Guille.Imp -1327-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">3</td>
              </tr>
              <tr>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">Ruleman -1116-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">3</td>
              </tr>
              <tr>
                <td>SanLorenzo -1065-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
              <tr>
                <td>Sucary Xbox -1006-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 600px">Grupo B</th>
                <th scope="col">PJ</th>
                <th scope="col">PG</th>
                <th scope="col">PP</th>
                <th scope="col">PTS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>El Party -1285-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
              <tr>
                <td>Garba -1071-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
              <tr>
                <td>Equi -932-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
              <tr>
                <td>Chrisitan -1006-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 600px">Grupo C</th>
                <th scope="col">PJ</th>
                <th scope="col">PG</th>
                <th scope="col">PP</th>
                <th scope="col">PTS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Assasing Blue -1246-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">3</td>
              </tr>
              <tr>
                <td>Gral. Nox -1117-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
              <tr>
                <td>Duke -915-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
                 <tr>
                <td>Kolo AoE -1087-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 600px">Grupo D</th>
                <th scope="col">PJ</th>
                <th scope="col">PG</th>
                <th scope="col">PP</th>
                <th scope="col">PTS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="background-color: lightgreen;">Melkor Correntino -1099-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">1</td>
              </tr>
              <tr>
                <td style="background-color: lightgreen;">Chena -1143-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">1</td>
              </tr>
              <tr>
                <td>Korova -1100-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
              <tr>
                <td>Seneka -1170-</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <%- include('./partials/footer') %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      </body>
      </html>