<%- include('./partials/head') %>
<body>
<%- include('./partials/header') %>
  <br>
  <div class="ranking-title">
    <h1> Copa Regidicda - Actualmente en curso </h1> 
  </div>
  <section class="leaderboard-section" style="margin-bottom: 15px; padding: 10px;">
    <div class="tournament-details" style="display: flex; flex-direction: column;">
      <div class="container">
        <h2>Información de utilidad</h2>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-decoration: none;">
                 <h3 style="font-size: 25px; text-decoration: none; color: #ff914c;">Modalidad</h3>
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <p style="text-align: justify;">El presente torneo se compondrá de dos fases. La primera será de tipo grupos, siendo 4 de ellos, conformados por 4 o 5 jugadores cada uno. Los dos jugadores que obtengan más puntos en cada grupo avanzarán a la fase de eliminación directa.</p>
                <p style="text-align: justify;">Durante la fase de grupos, cada jugador se enfrentará al resto de los integrantes de su grupo en dos oportunidades, una en calidad de local y otra en calidad de visitante, estas partidas serán en modo "Regicida". Quien oficie en calidad de local eligirá el mapa, dentro del pool seleccionado por la COMISIÓN.</p>
                <p style="text-align: justify;">Si un jugador gana ambas partidas del duelo, obtendrá 3 puntos, si cada jugador gana una partida se repartirán un punto por jugador. No esta de más señalar que no recibirá punto alguno quien pierda ambas partidas. Finalmente, el jugador con ELO mas bajo eligirá si quiere ir de local o visitante en primera instancia</p>
                <p style="text-align: justify;">Los dos jugadores con mayor puntuación al finalizar los duelos de la zona de grupos avanzarán a la fase de eliminación directa. En caso de que dos jugadores tengán la misma cantidad de puntos, se jugará una partida adicional entre ellos en la mística isla de Socotra.</p>
                <p style="text-align: justify;">Durante la fase de eliminación directa, se realizará un nuevo sorteo entre los primeros y los segundos de cada grupo para determinar la composición de los duelos.</p>
                <p style="text-align: justify;">Estos duelos serán al mejor de tres (BO3), oficiando un jugador de local, oportunidad en la que podra pickear su mapa y luego de visitante, oportunidad en la que tendrá que someterse al mapa elegido por su riva. En caso de empate, en esta ocasión se definirá en la mítica isla de Socotra en modalidad "Combate Total".</p>
                <p style="text-align: justify;">En el acápipe siguiente se apreciará el pool de mapas y otros detalles de interés.</p>
                <p style="text-align: justify;">Adelante y suerte.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
                  <h3 style="font-size: 25px; text-decoration: none; color: #ff914c;">Detalles</h3>
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <span class="font-weight-light font-weight-bold text-decoration-underline">Nombre de la sala :</span> TVHG<br>
                <span class="font-weight-light font-weight-bold text-decoration-underline">Size :</span> Pequeñito (2 jugadores).<br>
                <span class="font-weight-light font-weight-bold text-decoration-underline">Civ Pick :</span> Si.<br>
                <span class="font-weight-light font-weight-bold text-decoration-underline">Pool de mapas:</span>
                <ul>
                  <li> Arabia</li>
                  <li> Continental</li>
                  <li> Atacama</li>
                  <li> Báltico</li>
                  <li> Acrópolis</li>
                  <li> Fiebre del Oro</li>
                </ul>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 600px">Grupo A</th>
                <th scope="col">PJ</th>
                <th scope="col">PG</th>
                <th scope="col">PP</th>
                <th scope="col">PTS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">maxicorAge</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">6</td>
              </tr>
              <tr>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">TVHG.FreakingSene</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">3</td>
              </tr>
              <tr>
                <td>Sucary Xbox</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">3</td>
              </tr>
              <tr>
                <td>TVHG.Yacare Melkor</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">3</td>
              </tr>
              <tr>
                <td>TVHG.Ruleman</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">3</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">3</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 600px">Grupo B</th>
                <th scope="col">PJ</th>
                <th scope="col">PG</th>
                <th scope="col">PP</th>
                <th scope="col">PTS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">AssasingBlue</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">6</td>
              </tr>
              <tr>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">TVHG.TheKillerSoap</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">3</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">6</td>
              </tr>
              <tr>
                <td>TVHG.The Teacher</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
              <tr>
                <td>TVHG.Sanlorenzo</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">2</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
              <tr>
                <td>Korova</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 600px">Grupo C</th>
                <th scope="col">PJ</th>
                <th scope="col">PG</th>
                <th scope="col">PP</th>
                <th scope="col">PTS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">TVHG.Doom</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">3</td>
              </tr>
              <tr>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">TVHG.Kolo AoE</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">0</td>
              </tr>
                 <tr>
                <td>TVHG.Duke</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
              <tr>
                <td>TVHG.Chena</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">1</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 600px">Grupo D</th>
                <th scope="col">PJ</th>
                <th scope="col">PG</th>
                <th scope="col">PP</th>
                <th scope="col">PTS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="background-color: lightgreen;">Mauricio Geber</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">0</td>
              </tr>
              <tr>
                <td style="background-color: lightgreen;">TVHG.Christian</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey; background-color: lightgreen">0</td>
              </tr>
              <tr>
                <td>TVHG.Garba</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
              <tr>
                <td>TVHG.Indio</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
              <tr>
                <td>TVHG.El Party</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
                <td style="font-size: 30px; text-decoration: none; color: grey;">0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <%- include('./partials/footer') %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      </body>
      </html>